#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
}
body{
  background-image: url(https://img.freepik.com/premium-vector/technology-blue-background_43778-21.jpg?semt=ais_hybrid&w=740);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.entry{
 display: flex;
 justify-content: start;
 gap: 1rem;
 margin: 2rem;
}
.entry input, .entry button{
 
  padding:0.2rem;
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  border-color: transparent;
}
.entry input{
 width: 200px;
}
.play-ground{
  display: flex;
  justify-content: space-around;
 

}
.human,.bot{
  display: flex;
  justify-content: space-between;

  align-items: center;

}
.human > div, .bot> div{
  margin: 00.3rem;
}
.human > div:nth-child(2), .bot>div:nth-child(1){
  padding:2rem;
  width: 300px;
  background-color: rgb(239, 229, 31);
  border-radius: 10px ;
  border: blanchedalmond 2px solid;
}
.icon{
  font-size: xxx-large;


}
p{
  font-size: 3rem;
  font-weight: bold;
  background-color: rgb(238, 232, 170);
}
.options span{
  border-radius: 50%;
  background-color: palegoldenrod;
  border:rgb(41, 76, 140) 1px solid;
  padding:0.3rem 0.4rem;
}